## Used Cars: Sales Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')

df = pd.DataFrame(data)
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [3]:
# There are (â€”) type of characters in csv file in color and interior columns
# After importing the csv file, it shows those cells as (—) in jupyter
# Hence, replacing those (—) cells with NaN so that those rows can be removed in next step using dropna

df=df.replace('—', np.nan)
df

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [4]:
# Task 1 - checking NaN value counts

df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color           25435
interior        17825
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [5]:
df.dropna(how = 'any', inplace = True)      # dropping missing value rows

In [6]:
df.isnull().sum()     #Verifying if missing value rows are removed

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mp              0
Arrival_Date    0
dtype: int64

# Missing value rows are removed from the data above

In [7]:
# Task 2 - top 100 lowest priced cars from year 2014 and registered in CA

req = df[(df['year'] == 2014) & (df['state'] == 'ca')]
sorted_price = req.sort_values('mp')
top = sorted_price.head(100)
top

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
5789,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,28134.0,silver,black,santander consumer,8300,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,2014,Toyota,Yaris,LE,Hatchback,automatic,ca,1.0,36389.0,white,black,enterprise vehicle exchange / tra / rental / t...,9825,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
519135,2014,Hyundai,Accent,GLS,sedan,automatic,ca,1.0,36406.0,beige,tan,enterprise vehicle exchange / tra / rental / t...,9850,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
385797,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.2,39340.0,white,black,avis corporation,9850,Tue Mar 03 2015 04:45:00 GMT-0800 (PST)
361644,2014,Ford,Fiesta,SE,Hatchback,automatic,ca,4.1,45386.0,silver,black,avis rac/san leandro,9850,Wed Feb 25 2015 04:30:00 GMT-0800 (PST)
355005,2014,Mazda,Mazda2,Touring,Hatchback,automatic,ca,3.7,31962.0,gray,black,avis rac/san leandro,9850,Wed Feb 25 2015 04:30:00 GMT-0800 (PST)

In [8]:
# Task 3

cross = pd.crosstab(top.make, top.mp, rownames = ['Car Manufacturer'], colnames = ['Price'])
cross

Price,6175,7225,7425,7525,8300,8400,8425,8475,8500,8525,...,9625,9650,9675,9700,9725,9750,9775,9800,9825,9850
Car Manufacturer,,,,,,,,,,,,,,,,,,,,,
Chevrolet,0,0,0,0,0,1,0,0,1,0,...,2,0,0,0,0,0,0,1,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Mitsubishi,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
Nissan,1,0,1,1,1,0,1,0,1,3,...,1,1,1,1,1,2,1,3,1,1
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0

In [9]:
# Task 4

chevvy = top[top['make'] == 'Chevrolet']
chevvy

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST)
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT)
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT)
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST)
462887,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,1.0,13109.0,white,gray,fox rent a car tra,9800,Tue May 26 2015 05:00:00 GMT-0700 (PDT)

In [10]:
# Applying 10% discount on original price of chevrolet cars

disc = chevvy.assign(Discounted_price = chevvy.mp * 0.9)
disc[['model', 'mp', 'Discounted_price']]

        model    mp  Discounted_price
518957  Spark  8400            7560.0
473427  Spark  8500            7650.0
80892   Spark  8700            7830.0
531030  Sonic  9150            8235.0
258946  Sonic  9250            8325.0
471595  Spark  9325            8392.5
44341   Spark  9500            8550.0
456227  Sonic  9500            8550.0
229362  Spark  9550            8595.0
456215  Sonic  9550            8595.0
105924  Sonic  9625            8662.5
391429  Spark  9625            8662.5
462887  Spark  9800            8820.0

In [11]:
# Task 5

interior =  df[df['year'] == 2014]
top_100 = interior.sort_values('mp')
b = top_100.head(100)
b

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
457201,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,tx,4.4,38139.0,gray,black,santander consumer,6000,Tue May 26 2015 17:00:00 GMT-0700 (PDT)
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
519193,2014,Mitsubishi,Mirage,DE,hatchback,automatic,nc,3.2,32254.0,purple,black,santander consumer,6825,Mon Jun 08 2015 02:30:00 GMT-0700 (PDT)
467865,2014,Mitsubishi,Mirage,DE,hatchback,automatic,tx,4.1,28476.0,red,black,budget rent a car/san antonio,6900,Wed Jun 03 2015 03:00:00 GMT-0700 (PDT)
236495,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,nc,2.2,33913.0,silver,black,santander consumer,7025,Mon Feb 09 2015 01:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506772,2014,Nissan,Versa,1.6 SV,sedan,automatic,ga,3.4,55435.0,white,black,the hertz corporation,8450,Mon Jun 08 2015 17:00:00 GMT-0700 (PDT)
132425,2014,Mitsubishi,Mirage,DE,Hatchback,automatic,ca,4.1,13557.0,blue,black,a l financial,8475,Wed Jan 14 2015 04:30:00 GMT-0800 (PST)
99442,2014,Chevrolet,Spark,LS,Hatchback,automatic,va,4.4,10770.0,black,gray,brown honda,8475,Thu Jan 15 2015 01:35:00 GMT-0800 (PST)
36330,2014,Chevrolet,Spark,LS,Hatchback,manual,mo,2.7,14547.0,blue,gray,first community credit union,8475,Tue Jan 13 2015 10:30:00 GMT-0800 (PST)
495558,2014,Ford,Fiesta,SE,hatchback,automatic,ca,4.2,48420.0,white,black,jimmie johnson kearny mesa chevrolet,8475,Tue Jun 16 2015 05:30:00 GMT-0700 (PDT)

In [18]:
print("Average price of all the 100 lowest priced cars from the year 2014 based on their interior colors:")
b.groupby(by = ['make', 'interior'])['mp'].mean()

Average price of all the 100 lowest priced cars from the year 2014 based on their interior colors:

make        interior
Chevrolet   black       8179.545455
            gray        8181.250000
Chrysler    black       8237.500000
Ford        black       8120.833333
            gray        7933.333333
Mitsubishi  black       7577.500000
            gray        7512.500000
Nissan      black       7820.833333
            gray        8075.000000
smart       black       8018.750000
Name: mp, dtype: float64

In [13]:
# Task 6

locate =  df.loc[(df['year'] >= 2010) & (df['year'] <= 2015)]
locate

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [14]:
print("Color-wise availability of cars for each manufacturer from the year 2010-2015:")
locate.groupby(by = ['make', 'color'])['model'].count()

Color-wise availability of cars for each manufacturer from the year 2010-2015:

make   color
Acura  beige         1
       black       673
       blue         62
       brown         8
       burgundy     68
                  ...
smart  green         9
       red          37
       silver       46
       white        65
       yellow        4
Name: model, Length: 579, dtype: int64

In [15]:
# Task 7

bmw = locate[(locate['condition'] >= 4.5) & (locate['make'] == 'BMW')]
bmw

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
39,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,9027.0,white,black,financial services remarketing (lease),30200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
59,2014,BMW,M5,Base,Sedan,automatic,ca,4.7,7766.0,gray,black,fratelli investment group,71000,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
71,2014,BMW,X1,sDrive28i,SUV,automatic,ca,4.8,19689.0,white,black,financial services remarketing (lease),23700,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
106,2014,BMW,5 Series,535d,Sedan,automatic,ca,4.8,12292.0,white,black,financial services remarketing (lease),46300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557847,2014,BMW,i8,Base,coupe,automatic,ca,4.7,2944.0,white,brown,pacoima motors,145000,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
557921,2013,BMW,M5,Base,sedan,automatic,ca,4.5,41524.0,gray,red,audi beverly hills,56900,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
557922,2013,BMW,M5,Base,sedan,automatic,ca,4.6,21359.0,gray,gray,prestige auto wholesale inc,63000,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
557980,2012,BMW,X5,xDrive35d,suv,automatic,ca,4.6,48753.0,black,black,daimler daiichi corp,29900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)

In [16]:
print("Year-wise maximum expected price of BMW cars:")
bmw.groupby(by = ['year','make', 'model'])['mp'].max()

Year-wise maximum expected price of BMW cars:

year  make  model
2010  BMW   1 Series                 20400
            3 Series                 22900
            5 Series                 23200
            5 Series Gran Turismo    24600
            6 Series                 34600
                                     ...
2015  BMW   X1                       37900
            X3                       51600
            X4                       52600
            X5                       66000
            Z4                       51400
Name: mp, Length: 85, dtype: int64

In [17]:
# Task 8

suv = locate[(locate['body'] == 'SUV') & (locate['odometer'] <= 30000)]
sorted_suv = suv.sort_values('mp', ascending = False)
print("Top 100 SUVs with prices in descending order:")
sorted_suv.head(100)

Top 100 SUVs with prices in descending order:

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
5646,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,4.6,5369.0,white,orange,land rover north america llc,136000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
110247,2014,Land Rover,Range Rover,Autobiography LWB,SUV,automatic,ca,5.0,3619.0,black,black,land rover north america llc,134000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
5842,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,5.0,980.0,charcoal,black,chings trading,133000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
291293,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,ca,4.9,2003.0,blue,beige,mercedes-benz financial services,131000,Thu Feb 12 2015 04:30:00 GMT-0800 (PST)
120105,2014,Mercedes-Benz,G-Class,G63 AMG,SUV,automatic,il,5.0,1737.0,black,black,autolink sales llc,131000,Tue Jan 27 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140500,2014,Land Rover,Range Rover Sport,HSE,SUV,automatic,nj,4.9,6558.0,white,gray,hatt auto sales llc,75000,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)
102497,2014,Lexus,LX 570,Base,SUV,automatic,tx,3.6,25758.0,black,tan,sewell cadillac-hummer,75000,Wed Jan 07 2015 10:20:00 GMT-0800 (PST)
529573,2015,Cadillac,Escalade,Premium,SUV,automatic,tx,5.0,2048.0,blue,black,bank of the west,74000,Thu Jun 11 2015 04:00:00 GMT-0700 (PDT)
452827,2015,Cadillac,Escalade ESV,Luxury,SUV,automatic,tx,4.4,5878.0,black,gray,wells fargo dealer services,74000,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
174164,2014,Land Rover,Range Rover Sport,HSE,SUV,automatic,fl,4.3,8085.0,white,brown,the collection,74000,Thu Jan 22 2015 01:15:00 GMT-0800 (PST)